name: Main Deployment
on:
  workflow_dispatch:
    inputs:
      reason:
        description: The reason for running the workflow
        required: false
        default: Manual run
  push:
    branches:
      - main

# Set up permissions for deploying with secretless Azure federated credentials
# https://learn.microsoft.com/en-us/azure/developer/github/connect-from-azure?tabs=azure-portal%2Clinux#set-up-azure-login-with-openid-connect-authentication
permissions:
  id-token: write
  contents: read


jobs:
  build:
    runs-on: ubuntu-latest
    env:
      AZURE_CLIENT_ID: ${{ vars.AZURE_CLIENT_ID }}
      AZURE_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}
      AZURE_ENV_NAME: ${{ vars.AZURE_ENV_NAME }}
      AZURE_LOCATION: ${{ vars.AZURE_LOCATION }}
      SERVICE_SPEAGENTWITHRETRIEVAL_RESOURCE_EXISTS: ${{ vars.SERVICE_SPEAGENTWITHRETRIEVAL_RESOURCE_EXISTS }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install azd
        uses: Azure/setup-azd@v2
      # - name: Log in with Azure (Federated Credentials)
      #   run: |
      #     azd auth login `
      #       --client-id "$Env:AZURE_CLIENT_ID" `
      #       --federated-credential-provider "github" `
      #       --tenant-id "$Env:AZURE_TENANT_ID"
      #   shell: pwsh


      # - name: Provision Infrastructure
      #   run: azd provision --no-prompt
      #   env:
      #     VAR: ${{ secrets.VAR }}
      #     VAR_S: ${{ secrets.VAR_S }}

      # - name: Deploy Application
      #   run: azd deploy --no-prompt
      #   env:
      #     VAR: ${{ secrets.VAR }}
      #     VAR_S: ${{ secrets.VAR_S }}        
